# Игнорировать папку .vs (Visual Studio)
.vs/

# Игнорировать папки bin и obj (компиляция)
bin/
obj/

# Игнорировать файлы настроек для Visual Studio
.vscode/

# Игнорировать временные и кэшированные файлы системы
*.user
*.suo
*.userosscache